html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    overflow: hidden;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.dino {
    width: 100%;
    height: auto;
    max-height: 100vh;
}